<!-- <div #div1 (mouseenter)="doMouseEnter(div1)"
(mouseout)="doMouseOut(div1)">Im Sieng Java Dev</div> -->
<!-- <div appSetColor defaultColor="green" hcolor ="pink">using directive</div>
<div appSetColor defaultColor="green" hcolor ="yellow">sienghrr</div>-->
 <h1>Structural directive</h1>
    <p *ngIf="show">test</p> 
    <p *appMyIf="isVisible">myIfTest</p> 
    <h1 *appMyIfV2="isShow">test my if v2</h1>


    <!-- <div> ViewContainerRef
        <h2 *ngIf ="abc">hello i am sieng</h2>  template ref
    </div> -->