<!-- <h1>welcome man</h1> -->
<!-- <input type="text" name="txt_name" id="" #txt_name> -->
<!-- <button (click)="name='sienghrr'">click me</button><br> -->
<!-- <button (click)="showMss()">click me</button><br> -->
<!-- <button (click)="show(txt_name.value)">show</button><br> -->
<!-- <button (click)="display(txt_name)">show</button><br> -->
<!-- <button (click)="showInfo($event)">with event info</button> -->
<!-- {{name}} -->
<!-- <app-two-way-binding></app-two-way-binding> -->
 <!-- <app-structural-directive></app-structural-directive> -->
  age from child: {{theAge}}<br>
  <app-test-child (childEvent)="receiveFromChild($event)" [parentData]="name" [myGender]="gender"></app-test-child>